﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] MedSuppGuide Medigap Insurance</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Added Support for Ng-Bootstrap for MVC JS Routing - fast via SammyJs and Knockout MVC -->
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">MedSuppGuide</a>
                </div>
                <!-- tabs -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="Video">Video Library</a></li>
                        <li><a asp-controller="Home" asp-action="Quote">Get Quote</a></li>
                        <li><a asp-controller="Home" asp-action="About">Who Are We?</a></li>
                    </ul>
                    <h3 style="float:right; vertical-align:middle; padding-bottom:5px; margin-bottom:8px;"><i class="fa fa-phone"></i>844-674-7877</h3>
                </div>
                <!--mobile ready Tabs-->
            </div>
        </div>
        <div class="container body-content">
            <!--Devs unfamiliar to core or mvc3-6: escape->@@Render + Body is where our pages are injected, 
                also you could use an ATRenderSection for multiple 'placeholder/injection areas'
                if you wanted to which is pretty popular as well but to get html in 
                this is the fastest for now, here's what you could call the 'Master' file/page and 
                your partials and injection page/html will file in here in place of Render Body  -->
            
            @RenderBody() <!-- Everything in MVC injects into something, here's where our content goes, similar to webforms CPHs -->
            <hr />
           
             <!--  reminder NICK --- Center in styler and remember to add in scaffed privacy page -->
            <footer>
                <p>&copy;Copyright 2017 - MedSuppGuide by Heartland Financial Group, Inc. - 1600 NE Coronado Blue Springs Missouri 64014. Call 844-674-7877.</p><br />
                <span>See<a asp-controller="Home" asp-action="Privacy"> Terms and Privacy Policy</a> - &copy; Copyright 2017. </span>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <!--This looks like new Core ENV variables to go along in the package.json settings with gulp and webpack, bower/npm or other json init command files -->
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)  <!-- My bad, heres a rendersection for scriptmanagement -->
    </body>
</html>
