﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ASP-NET-Banners-01.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Get MedSuppGuide Quotes Here Now 
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Run a Quote
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-02-VS.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    We offer some of 2017's Best Medicare Supplement Plans and Rates, talk with a specialist or Run your quote today, no obligation!
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        See our Videos
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Understanding Medicare isn't always the easiest, that's why our trusted guide Bill Ellsworth has come to speak to the masses about Medicare and inform folks at the retirement age about the ins and outs of Medicare and Medigap with all it's complexities wrapped into a list of easy to understand "Questions and Answers".  
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn About Plans
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Medicare - A Original Medicare</h2>
        <ul>
            <li>Medicare Health Insurance Coverage - Part A</li>
            <li>Requires you to be 65 years old or be on Medicaid through the government.</li>
            
        </ul>
    </div>
    
    <div class="col-md-3">
        <h2>Medicare Supplements</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">Add an appsetting in config and access it in app.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    
    <div class="col-md-3">
        <h2>Medicare Prescription</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Medicare Part D - Prescription Drug Insurance</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Add-on To Your Medicare Package or MedSupp</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Easy to Attach to your Plan</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Pretty Affordable</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Enter Zip to Get MedSupp Information or Call to Add a Part D Supplement Today</a></li>
        </ul>
    </div>
    
    <div class="col-md-3">
        <h2>Medicare Advantage</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Not Great</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Low Cost</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Low Coverage</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Easy Enrollment (<a href="http://unitedhealthcare.com">start here</a>)</a></li>
        </ul>
    </div>
</div>
